<div class="container-fluid padding">
  <h1>Your Lists</h1>
  <%= form_for([@user, @list]) do |f| %>
    <%= f.text_field :name, :class => "enter_new_item", :placeholder => ("enter a new list") %>
    <%= f.submit :class => "no_style" %>
  <% end %>
</div>

<section class="main text-left">
  <ul class="all-items-inlist">
    <% @lists.each do |list| %>
      <li>
        <div class="nav-link">
          <label><%= link_to list.name, user_list_path(id: list.id, user_id: @user.id) %></label>
        </div>
      </li>
    <% end %>
  </ul>
</section>
