<div class="item-text">
  <div class="row">
    <label class="col"><%= item.description %></label>
      <%= form_tag(user_list_item_path(item.list.user,item.list, item), :method => :delete, :class => "destroy_button" ) do %>
        <button type="submit" class="col-destroy">X</button>
      <%end%>
  </div>
</div>
