<div id ="<%='item-text' + @item.id.to_s %>">
  <div class="row">
    <label class="col"><%= @item.description %></label>
      <%= form_tag(user_list_item_path(@item.list.user,@item.list, @item), :method => :delete, :class => "destroy_button" ) do %>
        <button type="submit" class="x-destroy">X</button>
      <%end%>
  </div>
</div>
<!-- lists show -->
<!-- this is for when im not using handlebars and in item#create i just render this page-->
