@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  margin: 0 auto;
}

.navbar{
  padding: .8rem;
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}
.view {
	color: #000000;
  color: blue;
  text-decoration: none;

}
.all {
	background: #fff;
	margin: 130px 0 40px 0;
	position: relative;
}
.header{
  position: relative;
  margin: 0 auto;
}

h1 {
  padding-top: 25px ;
  padding-bottom: 35px;
	width: 100%;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
}

.enter_new_item {
  padding-top: 16px;
  padding-bottom: 16px;
	border: none;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.main {
	border-top: 1px solid #e6e6e6;
}

.toggle-all {
	position: absolute;
	top: -55px;
	left: -12px;
	width: 60px;
	height: 34px;
	text-align: center;
	border: none; /* Mobile Safari */
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

.my-list {
	list-style: none;
  position: relative;
  font-size: 24px;
  padding: 15px 15px 9px;
  margin-left: 45px;
  color: #000000;
}

.footer {
	text-align: center;
	border-top: 1px solid #e6e6e6;
}
