@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  text-align: center;
  background: #fff;
  color: #000000;
}

h1 {
	font-size: 400%;
	font-weight: 100;
}

.no_style {
  style: none;
  background: none;
  border: none;
  color: #fff;
}

.invisible {
  color: #fff;
}

.letterCircle {
  border-radius: 50%;
  padding-top: 3px;
  width: 45px;
  height: 45px;
  background: #fff;
  border: 2px solid #2D7BF7;
  color: #2D7BF7;
  font: 32px Arial, sans-serif;
}
/* x button */
 .x-destroy{
  padding-right: 20px;
	font-size: 25px;
	background: none;
	border: 0;

  color: #d4c8c8;
  float:right;
  font-weight: bold;
}
.x-destroy:hover{
	color: #af5b5e;
}
/* input field */
div.field_with_errors input[type="text"]{
  border: 1px solid red;
}

.enter_new_item {
  font-size: 20px;
  width: 100%;
}

.all-things-inlist {
	list-style: none;
  position: relative;
  font-size: 24px;
  padding: 15px 15px 9px;
  margin-left: 45px;
}

/* footer */
.footer {
  color:#DCDCDC
}

/*  */
#all_new_items_1{
  position: relative;
  font-size: 24px;
  padding: 15px 15px 9px;
  margin-left: 45px;
}
